@model FindYourFit.ViewModels.EventDetailViewModel
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">@Model.Name</h1>

<table class="table">
    <tr>
        <th class="text-light">Description</th>
        <td class="text-light">@Model.Description</td>
    </tr>
    <tr>
        <th class="text-light">Contact Email</th>
        <td class="text-light">@Model.ContactEmail</td>
    </tr>
    <tr>
        <th class="text-light">Category</th>
        <td class="text-light">@Model.CategoryName</td>
    </tr>
    <tr>
        <th class="text-light">Tags</th>
        <td class="text-light">@Model.TagText</td>
    </tr>

</table>

<a asp-controller="Tag" asp-action="AddEvent" asp-route-id="@Model.EventId">Add Tag</a>