@model List<FindYourFit.Models.Event>
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">Events</h1>

<p>
    <a style="color:lightskyblue" asp-controller="Events" asp-action="Add">Add Event</a>
</p>


<p>
    <a style="color:lightskyblue" asp-controller="Events" asp-action="Delete">Delete Event</a>
</p>

@if (Model.Count == 0)
{
    <p class="text-light">No events yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th class="text-light">
                Id
            </th>
            <th class="text-light">
                Name
            </th>
            <th class="text-light">
                Description
            </th>
            <th class="text-light">
                Contact Email
            </th>
            <th class="text-light">
                Category
            </th>
        </tr>
        @foreach (var evt in Model)
        {
            <tr>
                <td class="text-light">@evt.Id</td>
                <td class="text-light"><a asp-controller="Events" asp-action="Detail" asp-route-id="@evt.Id">@evt.Name</a></td>
                <td class="text-light">@evt.Description</td>
                <td class="text-light">@evt.ContactEmail</td>
                <td class="text-light">@evt.Category.Name</td>
            </tr>
        }
    </table>
}

