@model FindYourFit.ViewModels.FitnessResourceDetailViewModel
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">@Model.Name</h1>

<table class="table">
    <tr>
        <th class="text-light">Description</th>
        <td class="text-light">@Model.Description</td>
    </tr>
    @*<tr>
        <th>Contact Email</th>
        <td>@Model.ContactEmail</td>
    </tr>*@
    <tr>
        <th class="text-light">Category</th>
        <td class="text-light">@Model.CategoryName</td>
    </tr>
    @*<tr>
        <th>Tags</th>
        <td>@Model.TagText</td>
    </tr>*@

</table>

@*<a asp-controller="Tag" asp-action="Add" asp-route-id="@Model.FitnessResourceId">Add Tag</a>*@